(
    name: "Monokai Pro (CE)",
    foreground: "#FCFCFA",
    background: "#2D2A2E",
    cursor: "#FCFCFA",
    bright_foreground: "#FCFCFA",
    dim_foreground: "#C1C0C0",
    normal: (
        black: "#2D2A2E",
        red: "#FF6188",
        green: "#A9DC76",
        yellow: "#FFD866",
        blue: "#FC9867",
        magenta: "#AB9DF2",
        cyan: "#78DCE8",
        white: "#FCFCFA",
    ),
    bright: (
        black: "#939293",
        red: "#FF6188",
        green: "#A9DC76",
        yellow: "#FFD866",
        blue: "#FC9867",
        magenta: "#AB9DF2",
        cyan: "#78DCE8",
        white: "#FCFCFA",
    ),
    dim: (
        black: "#19181A",
        red: "#FF6188",
        green: "#A9DC76",
        yellow: "#FFD866",
        blue: "#FC9867",
        magenta: "#AB9DF2",
        cyan: "#78DCE8",
        white: "#C1C0C0",
    ),
)
